<!DOCTYPE html>
<html lang="en">

<head>
   <title>:: RR Dental Lab Pvt.Ltd - Admin Login</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="shortcut icon" type="image" href="images/favicon.png">
   <link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
   <script src="Bootstrap/js/jquery-1.12.0.min.js"></script>
   <script src="Bootstrap/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="css/style.css">
</head>

<body>
   <div class="container-fluid">
      <div class="row flex-box">

         <div class="col-sm-12 col-xs-12">

            <div class="auth-contents">
               <form class="ant-form ant-form-vertical" id="loginForm">
                  <h1 class="cRhVLG" id=""> Sign in to <span class="color-secondary">Admin</span> </h1>

                  <div class="ant-row ant-form-item">
                     <div class="ant-col ant-form-item-label"><label for="username" class=""
                           title="Username or Email Address">Username or Email Address</label></div>
                     <div class="ant-col ant-form-item-control-wrapper">
                        <div class="ant-form-item-control">
                           <span class="ant-form-item-children">
                              <input type="email" class="ant-input" id="username" name="username"
                                 placeholder="Enter email or username" required>
                              <!---->
                           </span>
                           <!---->
                           <!---->
                        </div>
                     </div>
                  </div>
                  <div class="ant-row ant-form-item" initialvalue="123456">
                     <div class="ant-col ant-form-item-label"><label for="password" class=""
                           title="Password">Password</label></div>
                     <div class="ant-col ant-form-item-control-wrapper">
                        <div class="ant-form-item-control">
                           <span class="ant-form-item-children">
                              <input type="password" class="ant-input" id="password" name="password"
                                 placeholder="Enter Password" required>
                              <!---->
                           </span>
                           <!---->
                           <!---->
                        </div>
                     </div>
                  </div>
                  <!-- <div class="auth-form-action">
                     <label class="ant-checkbox-wrapper">
                        <span class="ant-checkbox">
                           <input type="checkbox" class="ant-checkbox-input" value="">
                           <span class="ant-checkbox-inner"></span>
                        </span><span>Keep me logged in</span>
                     </label>
                     <a href="#" class="forgot-pass-link"> Forgot password? </a>
                  </div> -->
                  <div class="ant-row ant-form-item">
                     <!---->

                     <div class="ant-col ant-form-item-control-wrapper">
                        <div class="ant-form-item-control">
                           <span class="ant-form-item-children">
                              <button data="primary" block="false"
                                 class="bMYjuM ant-btn ant-btn-primary  false btn-signin ant-btn ant-btn-primary  false btn-signin"
                                 htmltype="submit" type="submit">
                                 Login</button>
                           </span>
                        </div>
                     </div>
                  </div>
                  <p class="form-divider"><span>Our Social Media links</span></p>
                  <ul class="social-login">

                     <li><a class="google-signup" href="https://www.facebook.com/RRDENTALLABSHYD/" target="_blank"><img
                              src="images/facebook.png"><span>Facebook</span></a></li>

                     <li><a class="google-signup" href="https://twitter.com/labs_rr" target="_blank"><img
                              src="images/twitter-2.png"><span>Twitter</span></a></li>

                     <li><a class="google-signup" href="https://www.instagram.com/rrdentallabhyderabad/"
                           target="_blank"><img src="images/instagram.png"><span>Instagram</span></a></li>

                  </ul>

               </form>
            </div>
         </div>




      </div>
   </div>
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script language="JavaScript" type="text/javascript" src="Bootstrap/js/jquery-1.12.0.min.js"></script>
<script src="js/login.js"></script>

</html>