<!DOCTYPE html>
<html lang="en">
<head>
    <title>:: RR Dental Lab Pvt.Ltd</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="shortcut icon" type="image" href="images/favicon.png">
   <link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
   <script src="Bootstrap/js/jquery-1.12.0.min.js"></script>
   <script src="Bootstrap/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <p><b>
                Thank You for Placing the order. We will get back to you soon.</b>
            </p>
        </div>
    </div>
</body>
<style>
   .card {
       margin-top: 20vh;
       border : 1px solid grey;
       border-radius: 3px;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       padding-top: 20vh;
       padding-bottom: 20vh;
       
   }

   .card > p {
       text-align: center;
       font-size: x-large;
       color: green;
   }
</style>
</html>